@font-face {
  font-family: medium-icons;
  src: url("fonts/medium-icons.woff");
}
.g-body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.g-body section {
  max-width: 750px;
  margin: auto;
}
.g-body article {
  outline-style: none;
  font-size: 16px;
}
.g-body header {
  font-weight: bold;
  font-size: 52px;
}
.g-body article h1,
.g-body article p,
.g-body article blockquote,
.g-body article ol,
.g-body article ul {
  margin-bottom: 15px;
}
.g-body article h1 {
  /* Override webkit's <article> default */
  font-size: 32px;
}
.g-body article h2 {
  font-size: 24px;
}
.g-body article blockquote {
  font-weight: 400;
  font-style: italic;
  border-left: 6px solid #60d778;
  padding-left: 20px;
  margin-left: -26px;
}
.g-body article a {
  text-decoration: underline;
  color: inherit;
}
.g-body article ol,
.g-body article ul {
  list-style: none;
  list-style-image: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}
.g-body article ol li:before,
.g-body article ul li:before {
  width: 30px;
  display: inline-block;
}
.g-body article ol {
  counter-reset: post;
}
.g-body article ol li:before {
  font-weight: bold;
  counter-increment: post;
  content: counter(post) ".";
}
.g-body article ul li:before {
  font-family: "medium-icons";
  content: "\e028";
  text-decoration: none;
  font-size: 14px;
}
.g-body article hr {
  display: block;
  width: 20%;
  margin: 30px auto 20px auto;
  border-top: 1px solid #dededc;
  border-bottom: 1px solid #dededc;
}
