@font-face {
  font-family: icomoon;
  src: url('icomoon/icomoon.ttf'),
       url('icomoon/icomoon.eot');
}

.g-body .text-menu {
  -webkit-transition: opacity 250ms, margin 250ms;
  -moz-transition: opacity 250ms, margin 250ms;
  -ms-transition: opacity 250ms, margin 250ms;
  -o-transition: opacity 250ms, margin 250ms;
  transition: opacity 250ms, margin 250ms;

  position: absolute;
  color: #fff;
  margin-top: -20px;
  margin-left: -115px;
}

.url {
  font-size: 16px !important;
  font-family: 'icomoon' !important;
}

.text-menu.hide {
  left: -999px;
  top: -999px;
}

.text-menu.fade {
  opacity: 0;
  margin-top: -5px;
}

.text-menu .active {
  color: #e67e22;
}

.text-menu button {
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;

  font-family: inherit;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: inherit;
  padding: 0px;
  height: 32px;
  width: 25px;
  border: 0px;
  outline: none;
}

.options {
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  border-radius: 5px;
  margin-left: 23px;
  margin-top: -28px;
  z-index: 1000;
  padding: 5px 4px 5px 5px;
  width: 176px;
  height: 33px;

  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.options.url-mode {
  width: 176px;
}

.options.url-mode .header1,
.options.url-mode .header2,
.options.url-mode .bold,
.options.url-mode .italic,
.options.url-mode .quote,
.options.url-mode .url {
  width: 0px;
  overflow: hidden;
  margin-right: 0px;
  opacity: 0;
}

.options .italic {
  font-style: italic;
}

.options .quote {
  line-height: 54px !important;
  font-size: 41px !important;
}

.options button {
  float: left;
  width: 28px;
  height: 30px;
  border-radius: 3px;
  margin-right: 1px;
}

.options.url-mode input{
  border-left: 2px solid transparent;
  padding-right: 5px;
  padding-left: 5px;
  width: 155px;
  background: transparent;
  color: #fff;
}

.options input {
  border-radius: 3px;
  overflow: hidden;
  outline: 0px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  width: 0px;
}

.options:before {
  content: "";
  border-top: 5px solid rgba(0,0,0,0.9);
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  margin-left: -5px;
  bottom: -15px;
  height: 5px;
  width: 0px;
  left: 50%;
}
